#index1{
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #f2f2f2;

    transition: background-color .8s;
}

    /*This is the section for the Header elements*/
#mainHeader{
    background-color: #f2f2f2;
    left: 0px;
    top: 0px;
    position: fixed;
    width: 100%;
    height: 125px;
    transition: background-color .8s, height .8s;
    transition-delay: .3s;

}
#imageLink{
    position: absolute;
    width: 150px;
    height: 50px;
    top: 10px;
    z-index: 1;
}

#headerImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 100px;

    transition: margin-left .5s;
    transition-delay: 0s;
}
#headerLogoLight{
    width: 150px;
    top: 20px;
    position: absolute;
    opacity: 100;

    transition: opacity .4s;
}
#headerLogoDark{
    width: 150px;
    top: 20px;
    position: absolute;
    opacity: 0;

    transition: opacity .4s;
}

    /*This all relates to the themeSwitchSection div in the HTML*/
#themeButton{
    /*This is the div*/
    position: absolute;
    top: 20px;
    right: 10%;
    margin-right: 20px;
    padding-bottom: 6px;
    height: 28px;
    width: 28px;
    opacity: 100;
    z-index: 1;
    border-bottom: 1px solid;
    border-bottom-color: #d7d7d7;

    transition: opacity .2s, border-bottom-color .4s;
}
#themeButtonIMG{
    /*This is the image inside the div*/
    height: 28px;
    width: 28px;
    opacity: 100;
    z-index: 0;

    transition: opacity .2s;

}
#themeButton:hover{
    /*Setting controls for the hover action when hovering over the div*/
    cursor: pointer;
    border-bottom-color: #909396;
}
#themeButton2{
    /*Secondary image for night mode*/
    position: absolute;
    top: 20px;
    right: 10%;
    margin-right: 20px;
    height: 28px;
    width: 28px;
    opacity: 0;
    z-index: 0;

    transition: opacity .2s;
}

#hrBreak{
    width: 60%;
    position: relative;
    top: -40px;

    border-color: rgba(215, 215, 215, 0.97);

    border-top: 0px solid;
    border-top-color: rgb(215, 215, 215) ;

    transition: border-color .4s, width .4s, top .8s;
    transition-delay:  0s;
}

    /*This section relates to the tabs*/
#headerTabs{
    position: relative;
    text-align: center;
    top: -40px;

    transition: top .8s;
    transition-delay: .3s;

}
li{
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}
li a{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;

    font-size: 14px;
    font-weight: 100;
    font-family: Raleway, sans-serif;
    text-decoration: none;
    color: #2a2b32;

    border-bottom: 1px solid;
    border-bottom-width: 1px;
    border-bottom-color: #d7d7d7;
}
li a:hover{
    border-bottom-color: #9f9f9f;
}

    /*Delaying the transition time for each link for a smooth effect*/
#homeLink{
    position: relative;
    top: 0px;
    color: #2a2b32;
    transition: border-bottom-color .2s,  color .1s, top .5s;
}
#webdevLink{
    position: relative;
    top: 0px;
    color: #2a2b32;
    transition: border-bottom-color .2s, color .2s, top .6s;
}
#graphicdesignLink{
    position: relative;
    top: 0px;
    color: #2a2b32;
    transition: border-bottom-color .2s, color .3s, top .7s;
}
#aboutLink{
    position: relative;
    top: 0px;
    color: #2a2b32;
    transition: border-bottom-color .2s, color .4s, top .8s;
}
#contactLink{
    position: relative;
    top: 0px;
    color: #2a2b32;
    transition: border-bottom-color .2s, color .5s, top .9s;
}

    /*Working with the first image transitions and the contents within this first page section*/
#gradient1{
    width: 100%;
    position: absolute;
    height: 700px;
    top: 0px;
    left: 0px;
    z-index: -1;

    opacity: 100;

    transition: opacity .8s;
}
#gradient2{
    width: 100%;
    position: absolute;
    height: 700px;
    top: 0px;
    left: 0px;
    z-index: -1;

    opacity: 0;

    transition: opacity .8s;
}
#welcomeMessage{
    position: absolute;
    width: 100%;
    top: 358px;
    text-align: center;
    font-size: 35px;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    z-index: -1;
    letter-spacing: 1px;
    color: #3e3e3e;

    transition: color .5s;
}
#welcomeMessageh2{
    position: absolute;
    width: 100%;
    top:410px;
    text-align: center;
    font-size: 15px;
    font-family: Raleway, sans-serif;
    font-weight: bolder;
    z-index: -1;
    letter-spacing: 2px;
    color: #3e3e3e;

    transition: color .3s;
}

    /*Secondary section styling elements*/
#gradient3light{
    position: absolute;
    width: 100%;
    height: 600px;
    left: 0px;
    top: 1000px;
    opacity: 100;

    transition:  opacity .8s;
}
#gradient3dark{
    position: absolute;
    width: 100%;
    height: 600px;
    left: 0px;
    top: 1000px;
    opacity: 0;

    transition:  opacity .8s;
}
#whatWeDo{
    position: relative;
    text-align: center;
    top: 1100px;

    font-size: 30px;
    font-family: Raleway, sans-serif;
    color: #3e3e3e;

    transition: color .5s;
}
#bracket{
    position: relative;
    width: 50%;
    height: 140px;

    opacity: 100;


    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 1060px;

    transition: opacity .4s;
}
#bracketLight{
    position: relative;
    width: 50%;
    height: 140px;

    opacity: 0;


    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 920px;

    transition: opacity .4s;
}
#whatWeDoLi{
    position: absolute;
    display: inline;
    top: 1450px;
    width: 100%;
    left: 0px;
    text-align: center;
    color: #3e3e3e;

    transition: color .4s;

}
#whatWeDoLi li{
    position: relative;
    margin-left: 2%;
    margin-right: 10%;
    padding: 5px;
    padding-top: 250px;
    padding-bottom: 6px;
    top: 0px;

    font-size: 18px;
    font-weight: lighter;
    font-family: Raleway, sans-serif;

    border-bottom: 1px solid;
    border-bottom-color: #9e9e9e;

    transition: top .4s;
}
#whatWeDoLi li:hover{
    top:-10px;
}



#whoWeAre {

  position: relative;
  text-align: center;
  top: 1100px;
  display: block;

  font-size: 30px;
  font-family: Raleway, sans-serif;
  color: #3e3e3e;

  transition: color .5s;

}

#bios {

  position: absolute;
  width: 100%;
  height: 600px;
  left: 0px;
  right: 0px;
  top: 1000px;
  opacity: 100;
  color: #3e3e3e;


  transition:  opacity .8s;


  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;

}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  margin-left: 20px;
  margin-right: 20px;
  display: inline-block;
  text-align: center;
  font-family: arial;

}

.card img {

  border-color: #3e3e3e;
  border-style: solid;
  border-width: thin;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

.card:hover {

box-shadow: 4px 16px 32px 4px rgba(0, 0, 0, 0.2);

}

.container {

  padding: 0 16px;

}

.container h1 {

  height: 75px;

}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: #3e3e3e;
  font-size: 18px;
}
