html{
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgb(68, 121, 108);
}

/*This is the section for the Header elements*/
.mainHeader{
    background-color: rgb(242, 242, 242);
    left: 0px;
    top: 0px;
    position: fixed;
    width: 100%;
    height: 75px;
}
.headerImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    height: 100px;
}
.headerLogo{
    width: 150px;
    top: 20px;
    position: relative;
}
.headerTabs{
    position: relative;
    text-align: center;
}

li{
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}
